@page
@model WebApplication1AjaxExample.Pages.cat.detailModel
@{
}

<style>

    .wrapper{
        border: 1px solid gray;
    }

</style>

<div class="wrapper">@Model.Cat.name</div>
<div class="wrapper">@Model.Cat.id</div>
<div class="wrapper">@Model.Cat.parentId</div>