<button class="rounded-full px-3 border border-gray-600" (click)="reloadProducte()">products</button>
<button class="rounded-full px-3 border border-gray-600" (click)="addN()">add n</button>
<button class="rounded-full px-3 border border-gray-600" (click)="create()">create product</button>
<button class="rounded-full px-3 border border-gray-600" (click)="createFetch()">create fetch</button>

<button class="rounded-full px-3 border border-gray-600" (click)="exampleASrv.run()">example a</button>

<hr>

<button class="rounded-full px-3 border border-gray-600" (click)="exampleBSrv.run()">example b</button>
<app-example-b [objectB]="exampleBSrv.data$ | async"></app-example-b>

<hr>
<button class="rounded-full px-3 border border-gray-600" (click)="exampleCSrv.run()">c.run</button>
<button class="rounded-full px-3 border border-gray-600" (click)="exampleCSrv.run1()">c.run1</button>
<button class="rounded-full px-3 border border-gray-600" (click)="exampleCSrv.run2()">c.run2</button>
<button class="rounded-full px-3 border border-gray-600" (click)="oper()">oper</button>
<hr>

<div *ngFor="let n of romanSrv.data123">{{n}}; </div>

<hr>

<!-- <div *ngFor="let p of romanSrv.data$ | async">{{p.title}}; </div> -->
<div class="grid grid-cols-4 gap-4 py-4">
  <app-product *ngFor="let p of romanSrv.data$ | async" [product]="p"></app-product>
</div>


<!-- <div class="container mt-6">
  <app-input (outEnterName)="addName($event)"></app-input>
  <div class="mt-6">
    <h2>Список студентов :</h2>
    <ul>
      <li class="mb-1 mt-1" *ngFor="let student of students$ | async">
        <app-student [student]="student"></app-student>
      </li>
    </ul>
  </div>
</div> -->

<!-- <div class="container mt-6">
  <app-input (outEnterName)="addName($event)"></app-input>
  <div class="mt-6">
    <h2>Список студентов :</h2>
    <ul>
      <li class="mb-1 mt-1" *ngFor="let item of someSrv.myArray">
        {{item}}
      </li>
    </ul>
  </div>
</div>

<p>{{iii}}</p>

<button (click)="studentService.ttt()">Ttt</button>
<button (click)="studentService.runSubscr()">Ttt</button> -->
